@charset "utf-8";
/* CSS Document */

@font-face {
		font-family: 'roboto-bold';
		src:url('Fonts/Roboto-Bold.ttf') format('truetype');
	}
@font-face {
		font-family: 'roboto-light';
		src:url('Fonts/Roboto-Light.ttf') format('truetype');
	}

@font-face {
		font-family: 'roboto-thin';
		src:url('Fonts/Roboto-Thin.ttf') format('truetype');
	}

body {
	font: 100%/1.4 roboto-light, sans-serif;
	background-color: #F0F0F0;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background-attachment: fixed;
	background-repeat: repeat-x;
	}
		
.container {
	width: 100%;
    margin: 0 auto;
	}
			
.header {
	/*position: fixed;*/
	background-color: #F0F0F0;
	width: 100%;
	text-align: center;
	margin-top: 20px;
	display: block;
    top: -25px;
	box-shadow: 0 10px 12px rgba(240, 240, 240, 1);
	line-height: 22px;
	}
		.NameFirst {
			font-size:32px;
			font-family: roboto-light;
			background-color:transparent;
			color:#09a2dd;
			}
		
		.NameLast {
			font-size:32px;
			font-family: roboto-bold;
			background-color:transparent;
			color:#000;
			}
		
		.Subtitle {
			font-size:16px;
			font-weight:normal;
			background-color:transparent;
			color:#666;
			line-height:20%;	
			}

		.bio {
			display:none;
			}

	
	
.videoPlayer {
	position: relative;
	width: inherit;
	background-color: #000000;
	margin-top: 1em;
	padding-top: 45px;
	padding-bottom: 40.25%; /* 16:9 */
	box-shadow: 0 10px 12px rgba(0, 0, 0, 0.25);
	}
	
	.videoPlayer iframe {
		position: absolute;
		background-color: #000000;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		}

	.mainContent {
		padding-top: 15px;
		padding-left: 5px;
		padding-right: 5px;
        list-style-type: none;
		}

		.tileimage {
			padding: 2px;
			display: inline-block;

		}

		.tileimage img{
			max-width: 65%;
		}
