@charset "utf-8";
/* CSS Document */
	
@font-face {
		font-family: 'Spectral-Bold';
		src:url('Fonts/Spectral-Bold.ttf') format('truetype');
	}
@font-face {
		font-family: 'Spectral-Light';
		src:url('Fonts/Spectral-Light.ttf') format('truetype');
	}

@font-face {
		font-family: 'Spectral-Regular';
		src:url('Fonts/Spectral-Regular.ttf') format('truetype');
	}			

body {
	font: 100%/1.4 Spectral-Regular, sans-serif;
	margin: 0;
	padding: 0;
	overflow: hidden; /* Hide scrollbars */
	}	
	
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1px;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 32px;
}
	
#FullScreenVideo {
  padding:0px;
  margin:0px;
  width: 100%;
  height: 100vh;
  object-fit:cover;
}	

.content_wrapper {
	width:100%;
	position:fixed;
	bottom:0;
	display:block;
	overflow:hidden;
	color:#f1f1f1;
	background-image:linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0));
	width:100%;
	padding-top:122px;
	padding-bottom:58px;
	padding-left:10%;
	line-height:32px;
	list-style-type:none;
	}

	.footer_title {
		float:left;
		width:50%;
		display:table;
		clear:both;

		
		}
			.Title {
				font-size:35px;
				font-family:Spectral-Regular;
				background-color:transparent;
				}		
		
			.Subtitle {
				font-size:25px;
				font-family:Spectral-Light;
				}


			.bio {
				display:none;
			}
	
	.footer_title img{
		padding-right:5px;
	}
	
	.footer_content {
		display:table;
	}