@charset "utf-8";
/* CSS Document */
	
@font-face {
		font-family: 'Comfortaa-Bold';
		src:url('Fonts/Comfortaa-Bold.ttf') format('truetype');
	}
@font-face {
		font-family: 'Comfortaa-Light';
		src:url('Fonts/Comfortaa-Light.ttf') format('truetype');
	}

@font-face {
		font-family: 'Comfortaa-Regular';
		src:url('Fonts/Comfortaa-Regular.ttf') format('truetype');
	}			

body {
	font: 100%/1.4 Comfortaa-Regular, sans-serif;
	background-color: #F0F0F0;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background-attachment: fixed;
	background-repeat: repeat-x;
	}	
	
.container {
	width: 100%;
    margin: 0 auto;
	}

.header {
	/*position: fixed;*/
	background-color: #F0F0F0;
	width: 100%;
	text-align: center;
	margin-top: 40px;
	display: block;
	box-shadow: 0 10px 12px rgba(240, 240, 240, 1);
	line-height: 40px;
	}
		.NameFirst {
			font-size:65px;
			font-family: Comfortaa-Light;
			background-color:transparent;
			}
		
		.NameLast {
			font-size:65px;
			font-family: Comfortaa-Bold;
			}
		
		
		.Subtitle {
			font-size:35px;
			font-family: Comfortaa-Light;
			}


		.bio {
			display:none;
			}

	
	
.videoPlayer {
	position: relative;
	width: inherit;
	background-color: #000000;
	margin-top: 1em;
	padding-top: 45px;
	padding-bottom: 40.25%; /* 16:9 */
	box-shadow: 0 10px 12px rgba(0, 0, 0, 0.25);
	}
	
	.videoPlayer iframe {
		position: absolute;
		background-color: #000000;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		}

	.mainContent {
		padding-top: 55px;
		padding-left: 5px;
		padding-right: 5px;
        list-style-type: none;
		}

		.tileimage-left {
			float:left;
			width:50%;
			display: table;
			clear:both;
		}
		
		.tileimage-right {
		content: "";
		display: table;
		}
	}